.raccoon-container {
  width: 200px;
  height: 200px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0;
  animation: showRaccoonIn 2.5s forwards;
  animation-timing-function: ease-in-out;
}

#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.close-btn {
  position: absolute;
  top: 14px;
  right: 160px;
  height: 25px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 9999999;
}

.close-btn:hover {
  opacity: 1;
}

.raccoon-container img {
  height: 100%;
  cursor: pointer;
}

.raccoon-container img:hover {
  /*-webkit-filter: drop-shadow(-1px 2px 3px rgba(134, 157, 144, 0.5)) drop-shadow(0px 2px 3px rgba(134, 157, 144, 0.5));*/
  /*filter: drop-shadow(-1px 2px 3px rgba(134, 157, 144, 0.5)) drop-shadow(0px 2px 3px rgba(134, 157, 144, 0.5));*/
}

img.above {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.raccoon-container.hide-out {
  animation: showRaccoonOut 1s forwards;
}

@keyframes showRaccoonIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showRaccoonOut {
  0% {
    opacity: 1;
    right: 0;
  }

  100% {
    opacity: 0;
  }
}