.raccoon-container {
  width: 200px;
  height: 200px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0;
  animation: showRaccoonIn 2.5s forwards;
  animation-timing-function: ease-in-out;
}

#confetti-canvas {
  position: fixed;
  top:0;
  left: 0;
}

.raccoon-container img {
  height: 100%;
  cursor: pointer;
}

img.above {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.raccoon-container.hidden {
  display: none;
}



@keyframes showRaccoonIn{
  0 % {
    opacity: 0;
  }


  100% {
    opacity: 1;
  }
}