html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}


#confetti-canvas {
  position: fixed;
  top:0;
  left: 0;
}

#ropeMain {
  overflow: hidden;
}

.chandelier-holder {
  position: relative;
  height: 500px;
  padding: 0 .5em;
  margin-top: -20px;
  width: 400px;
  float: right;
}

.chain {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 12px;
  height: 13px;
  width: 2px;
  background-color: #7dacb1;
  transform-origin: top center;
  animation: fall-n-swing 2.5s 1;
  animation-timing-function: ease-in-out;
}

.very-first-chain {
  left: 50% !important;
}

.show-interval-animation .chain {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 12px;
  height: 13px;
  width: 2px;
  background-color: #7dacb1;
  transform-origin: top center;
  animation: interval-n-swing 2.5s linear infinite;
  animation-timing-function: ease-in-out;
}

.show-interval-animation .badge {
  top: 9px;
  left: -16px;
  width: 34px;
  height: 100px;
  background: none;
}

.badge {
  top: 9px;
  left: -16px;
  width: 34px;
  height: 100px;
  background: none;
  cursor: pointer !important;
}

.badge img {
  width: 100% !important;
}

.badge img:hover {
  opacity: 0.9;
}

.show-collapse-animation .chain {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 12px;
  height: 13px;
  width: 2px;
  background-color: #7dacb1;
  transform-origin: top center;
  animation: hideAnimation 0.5s 1 forwards;
  animation-timing-function: ease-in-out;
}

.show-collapse-animation .badge {
  top: 9px;
  left: -16px;
  width: 34px;
  height: 100px;
  background: none;
}
